.body {
	background-color: #1d1f20;	/*rgb(29, 31, 32)*/
}

.top-header {
	background: linear-gradient(#111, #222);	/*rgb(17, 17, 17), rgb(34, 34, 34)*/
	border-bottom: 1px solid #3d3d3d;					/*rgb(61, 61, 61)*/
}

.button {
	background: linear-gradient(#4d4d4d, #2f2f2f);
	border-radius: 5px;
	border: 1px solid black;
	color: white;
}


/* scrollbar */
.CodeMirror-vscrollbar::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}
.CodeMirror-vscrollbar::-webkit-scrollbar-thumb {
	background: rgba(255,255,255,0.3);
	background-clip: content-box;
}
.CodeMirror-vscrollbar::-webkit-scrollbar-thumb {
	border-right: 5px solid transparent;
}
.CodeMirror-vscrollbar::-webkit-scrollbar-track {
	background: none;
}


/*
Content Color
	background: linear-gradient(45deg, #1d1f20, #2f3031)
	HTML			#999
	<div 			#9a6e35
	class= 		#ddca7e
	"header" 	#96b38a

	height 		#9a8297
	50px 			#d0782a
*/